* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --black : #0c0b0b;
    --red: #f44336;
    --off-white: #fefefe;
    --gray: gray;
    --light-gray: #f1f1f1;
    font-family: "Montserrat", sans-serif;
}
/* Start Header */
/* nav */
.nav-bar {
    width: 100%;
    position: fixed ;
    background-color: var(--red);
    box-shadow: 0 1px 2px var(--black);
    z-index: 1;
}
.nav-bar ul {
    list-style: none;
    display: flex;
}
.nav-bar ul .nav-item {
    padding: 15px 30px;
    text-transform: capitalize;
    transition: all .4s ease-in-out;
    cursor: pointer;
}
.nav-bar ul .nav-item a {
    text-decoration: none;
    font-size: 18px;
    color: var(--off-white);
    transition: all .4s ease-in-out;
}
.nav-bar ul .active {
    background-color: var(--off-white);
}
.nav-bar ul .active a{
    color: var(--black);
    background-color: var(--off-white);
}
.nav-bar ul .nav-item:hover{
    background-color: var(--off-white);
}
.nav-bar ul .nav-item:hover a{
    color: var(--black);
}
.hero {
    height: 100vh;
    width: 100%;
    background-color: var(--red);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero h1,
.hero h4 {
    width: max-content;
    margin: 25px 0 15px 0;
    color: var(--off-white);
    font-family:'Lucida Sans';
    letter-spacing: 2px;
    word-spacing: 4px;
    font-weight: lighter;
}
.hero h1 {
    font-size: 70px;
    text-transform: uppercase;
}
.hero h4 {
    font-size: 20px;
}
.hero .btn {
    margin-top: 40px;
    padding: 15px 30px;
    font-size: 20px;
    text-transform: capitalize;
    word-spacing: 4px;
    border: none;
    color: var(--off-white);
    background-color: var(--black);
    transition: all .4s ease-in-out;
    cursor: pointer;
}
.hero .btn:hover {
    color: var(--black);
    background-color: var(--light-gray);
}
/* End Header */
/* Start main */
.container {
    padding: 60px 170px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container div {
    margin: 0 25px;
}
.container .desc {
    width: 68%;
}
.container .desc h1{
    font-family:'Lucida Sans';
    word-spacing: 4px;
    font-weight: lighter;
    font-size: 35px;
}
.container .desc p{
    margin-top: 50px;
    line-height: 25px;
    text-transform: capitalize;
    color: var(--black);
}
.container .desc .lighter {
    color: var(--gray);
}
.container .img {
    width: 30%;
}
.container .img i{
    font-size: 200px;
    width: 100%;
    color: var(--red);
    text-align: center;
}
.second {
    background-color: var(--light-gray);
}
.third {
    width: 100%;
    text-align: center;
    padding: 70px;
    background-color: var(--gray);
}
.third p {
    font-size: 30px;
    text-transform: capitalize;
    color: var(--off-white);
}
/* End main */
/* start Footer */
footer {
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
footer div .icon {
    font-size: 25px;
    color: var(--gray);
}
footer div .icon:hover {
    color: var(--light-gray);
    cursor: pointer;
}
footer div p a {
    margin-left: 10px;
    color: var(--color-black);
}
/* End Footer */

/* Responsive */
@media (min-width:992px) and (max-width:1200px) {
    .container {
        padding: 60px 80px;
    }
}
@media (min-width:768px) and (max-width:991px) {
    .container {
        padding: 60px 20px;
    }
}
@media (max-width:768px){
    .container {
        padding: 60px 30px;
        flex-direction: column;
    }
    .container div {
        margin: 25px 0;
    }
    .container .desc ,
    .container .img {
        width: 100%;
    }
}
@media (max-width:576px){
    .nav-bar ul{
        flex-direction: column;
    }
    .hero h1 {
        transform: scale(0.6);
    }
    .hero h4 {
        transform: scale(0.7);
    }
}